<!doctype html>
<html lang="en">
  @include('lib::partials/header')
  <body class="dark">
    <div class="wrapper vh-100">
      <div class="row align-items-center h-100">
        @!section('body')
      </div>
      @include('lib::partials/footer')
  </body>
</html>